In [1]:
import pandas as pd
import re

df_char = pd.read_csv('../raw_data/scrapped_characters.csv')
df_house = pd.read_csv('../raw_data/scrapped_houses.csv')

In [2]:
df_char['Character_Number'] = df_char['URL'].str.extract(r'(\d+)$')

In [3]:
example = df_char[df_char['Name'] == 'Addam Velaryon']['Allegiances'].values
print(example)

["['https://www.anapioficeandfire.com/api/houses/378', 'https://www.anapioficeandfire.com/api/houses/407']"]

In [4]:
df_char['Allegiances_Number'] = df_char['Allegiances'].apply(lambda x: re.findall(r'\d+', x))

In [5]:
# checking for one example to see if it works
print(df_char[df_char['Name'] == 'Addam Velaryon']['Allegiances_Number'].values)

[list(['378', '407'])]

In [6]:
print(df_char.columns)
df_char.head(3)

Index(['Name', 'Culture', 'Born', 'Died', 'Titles', 'Aliases', 'Father',
       'Mother', 'Spouse', 'Allegiances', 'Books', 'POV Books', 'TV Series',
       'Played By', 'URL', 'Character_Number', 'Allegiances_Number'],
      dtype='object')

,Name,Culture,Born,Died,Titles,Aliases,Father,Mother,Spouse,Allegiances,Books,POV Books,TV Series,Played By,URL,Character_Number,Allegiances_Number
0,NaN,Braavosi,NaN,NaN,[''],['The Daughter of the Dusk'],NaN,NaN,NaN,[],['https://www.anapioficeandfire.com/api/books/5'],[],[''],[''],https://www.anapioficeandfire.com/api/characte...,1,[]
1,Walder,NaN,NaN,NaN,[''],['Hodor'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],"['Season 1', 'Season 2', 'Season 3', 'Season 4...",['Kristian Nairn'],https://www.anapioficeandfire.com/api/characte...,2,[362]
2,NaN,NaN,NaN,NaN,[''],['Lamprey'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/3'],[],[''],[''],https://www.anapioficeandfire.com/api/characte...,3,[15]

In [7]:
df_house['Allegiances_Number'] = df_char['URL'].str.extract(r'(\d+)$')
df_house.head()

,Name,Region,Coat of Arms,Words,Titles,Seats,Current Lord,Heir,Overlord,Founded,Founder,Died Out,Ancestral Weapons,Cadet Branches,Sworn Members,URL,Allegiances_Number
0,House Algood,The Westerlands,"A golden wreath, on a blue field with a gold b...",NaN,[''],[''],NaN,NaN,https://www.anapioficeandfire.com/api/houses/229,NaN,NaN,NaN,[''],[],[],https://www.anapioficeandfire.com/api/houses/1,1
1,House Allyrion of Godsgrace,Dorne,"Gyronny Gules and Sable, a hand couped Or",No Foe May Pass,[''],['Godsgrace'],https://www.anapioficeandfire.com/api/characte...,https://www.anapioficeandfire.com/api/characte...,https://www.anapioficeandfire.com/api/houses/285,NaN,NaN,NaN,[''],[],['https://www.anapioficeandfire.com/api/charac...,https://www.anapioficeandfire.com/api/houses/2,2
2,House Amber,The North,NaN,NaN,[''],[''],NaN,NaN,NaN,NaN,NaN,NaN,[''],[],[],https://www.anapioficeandfire.com/api/houses/3,3
3,House Ambrose,The Reach,"Or, semy of ants gules",Never Resting,[''],[''],https://www.anapioficeandfire.com/api/characte...,NaN,https://www.anapioficeandfire.com/api/houses/398,NaN,NaN,NaN,[''],[],['https://www.anapioficeandfire.com/api/charac...,https://www.anapioficeandfire.com/api/houses/4,4
4,House Appleton of Appleton,The Reach,"Or, an apple tree eradicated proper fructed gu...",NaN,[''],['Appleton'],NaN,NaN,https://www.anapioficeandfire.com/api/houses/398,NaN,NaN,NaN,[''],[],[],https://www.anapioficeandfire.com/api/houses/5,5

In [8]:
# checking the max of allegiances
max_allegiances = df_char['Allegiances_Number'].apply(len).max()
print("Maximum number of allegiance numbers a person can have:", max_allegiances)


person_with_max_allegiances = df_char.loc[df_char['Allegiances_Number'].apply(len).idxmax(), 'Name']
print("Person with the maximum number of allegiances:", person_with_max_allegiances)


# show the person with the maximum number of allegiances and their allegiances
df_char[df_char['Name'] == person_with_max_allegiances]['Allegiances_Number'].values

num_characters_with_multiple_allegiances = len(df_char[df_char['Allegiances_Number'].apply(len) > 1])
print("Number of characters with more than one allegiance:", num_characters_with_multiple_allegiances)

Maximum number of allegiance numbers a person can have: 4
Person with the maximum number of allegiances: Elaena Targaryen
Number of characters with more than one allegiance: 182

In [9]:
characters_with_multiple_allegiances = df_char[df_char['Allegiances_Number'].apply(len) > 1]
sorted_characters = characters_with_multiple_allegiances.sort_values(by='Allegiances_Number', ascending=False)
sorted_characters.head(5)

,Name,Culture,Born,Died,Titles,Aliases,Father,Mother,Spouse,Allegiances,Books,POV Books,TV Series,Played By,URL,Character_Number,Allegiances_Number
333,Dyanna Dayne,NaN,NaN,In or between 201 AC and 209 AC,['Lady'],[''],NaN,NaN,https://www.anapioficeandfire.com/api/characte...,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,334,"[99, 378]"
1113,Willem Darry,NaN,NaN,"In 289 AC or 290 AC (roughly), at Braavos",['Ser Master-at-arms at the Red Keep'],[''],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,1114,"[97, 378]"
711,Mariya Darry,NaN,NaN,NaN,[''],[''],NaN,NaN,https://www.anapioficeandfire.com/api/characte...,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,712,"[97, 143]"
948,Rylene Florent,NaN,NaN,NaN,[''],[''],NaN,NaN,https://www.anapioficeandfire.com/api/characte...,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,949,"[87, 133]"
737,Melara Crane,NaN,NaN,NaN,[''],[''],NaN,NaN,https://www.anapioficeandfire.com/api/characte...,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,738,"[87, 133]"

In [10]:
# Get the maximum number of allegiances
max_allegiances = df_char['Allegiances_Number'].apply(len).max()

# Split the allegiances values into separate columns
for i in range(1, max_allegiances + 1):
    column_name = f"Allegiances_Number_{i}"
    df_char[column_name] = df_char['Allegiances_Number'].apply(lambda x: x[i-1] if len(x) >= i else None)

In [11]:
df_char.head(2)

,Name,Culture,Born,Died,Titles,Aliases,Father,Mother,Spouse,Allegiances,...,POV Books,TV Series,Played By,URL,Character_Number,Allegiances_Number,Allegiances_Number_1,Allegiances_Number_2,Allegiances_Number_3,Allegiances_Number_4
0,NaN,Braavosi,NaN,NaN,[''],['The Daughter of the Dusk'],NaN,NaN,NaN,[],...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,1,[],None,None,None,None
1,Walder,NaN,NaN,NaN,[''],['Hodor'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,...,[],"['Season 1', 'Season 2', 'Season 3', 'Season 4...",['Kristian Nairn'],https://www.anapioficeandfire.com/api/characte...,2,[362],362,None,None,None

In [12]:
# look in df_house for names of houses using Allegiances_Number and add them to allegiances_number_1, allegiances_number_2, etc. in the df_char

# create a dictionary with the house names and their numbers
house_dict = dict(zip(df_house['Allegiances_Number'], df_house['Name']))
house_dict

# replace the numbers in the df_char with the house names
for i in range(1, max_allegiances + 1):
    column_name = f"Allegiances_Number_{i}"
    df_char[column_name] = df_char[column_name].replace(house_dict)

# check if it worked for one example with max allegiances
df_char[df_char['Name'] == person_with_max_allegiances][['Name', 'Allegiances_Number_1', 'Allegiances_Number_2', 'Allegiances_Number_3', 'Allegiances_Number_4']]

,Name,Allegiances_Number_1,Allegiances_Number_2,Allegiances_Number_3,Allegiances_Number_4
1357,Elaena Targaryen,House Manwoody of Kingsgrave,House Penrose of Parchments,House Plumm,House Targaryen of King's Landing

In [13]:
allegiances_columns = ['Allegiances_Number_1', 'Allegiances_Number_2', 'Allegiances_Number_3', 'Allegiances_Number_4']
house_counts = df_char[allegiances_columns].stack().value_counts()
print(house_counts)

House Frey of the Crossing             123
House Targaryen of King's Landing      101
House Stark of Winterfell               88
House Lannister of Casterly Rock        79
House Tyrell of Highgarden              44
                                      ...
House Roote of Lord Harroway's Town      1
House Shett of Gull Tower                1
House Grell                              1
House Mallery                            1
House Cole                               1
Length: 296, dtype: int64

In [14]:
# Get the total count of each allegiance number
allegiance_counts = df_char[allegiances_columns].apply(pd.Series.value_counts).sum()
allegiance_counts

Allegiances_Number_1    1374.0
Allegiances_Number_2     182.0
Allegiances_Number_3      10.0
Allegiances_Number_4       1.0
dtype: float64

In [15]:
# get the most common allegiance for the characters
df_char['Most_Common_Allegiance'] = df_char[['Allegiances_Number_1', 'Allegiances_Number_2', 'Allegiances_Number_3', 'Allegiances_Number_4']].mode(axis=1)[0]

In [16]:
characters_with_multiple_allegiances = df_char[df_char['Allegiances_Number'].apply(len) > 1]
selected_characters = characters_with_multiple_allegiances[['Name', 'Allegiances_Number_1', 'Allegiances_Number_2', 'Allegiances_Number_3', 'Allegiances_Number_4','Most_Common_Allegiance']]
selected_characters

,Name,Allegiances_Number_1,Allegiances_Number_2,Allegiances_Number_3,Allegiances_Number_4,Most_Common_Allegiance
32,Addam Velaryon,House Targaryen of King's Landing,House Velaryon of Driftmark,None,None,House Targaryen of King's Landing
46,Aegor Rivers,House Blackfyre of King's Landing,House Bracken of Stone Hedge,None,None,House Blackfyre of King's Landing
47,Aelinor Penrose,House Penrose of Parchments,House Targaryen of King's Landing,None,None,House Penrose of Parchments
48,Aemma Arryn,House Arryn of the Eyrie,House Targaryen of King's Landing,None,None,House Arryn of the Eyrie
65,Alannys Harlaw,House Greyjoy of Pyke,House Harlaw of Harlaw,None,None,House Greyjoy of Pyke
...,...,...,...,...,...,...
1931,Selyse Florent,House Baratheon of Dragonstone,House Florent of Brightwater Keep,None,None,House Baratheon of Dragonstone
1985,Teora Kyndall,House Kyndall,House Lannister of Casterly Rock,None,None,House Kyndall
2016,Tommard Heddle,House Blackfyre of King's Landing,House Butterwell,House Heddle,None,House Blackfyre of King's Landing
2049,Unknown,House Butterwell,House Frey of the Crossing,None,None,House Butterwell
2086,Weese,House Lannister of Casterly Rock,House Whent of Harrenhal,None,None,House Lannister of Casterly Rock

In [17]:
df_char['Allegiance_Count'] = df_char['Allegiances_Number_1'].map(house_counts) + df_char['Allegiances_Number_2'].map(house_counts) + df_char['Allegiances_Number_3'].map(house_counts) + df_char['Allegiances_Number_4'].map(house_counts)

In [18]:
df_char.drop(columns=['Allegiance_Count'], inplace=True)

In [19]:
# check how many regions there are in the house DataFrame
num_regions = df_house['Region'].nunique()
print("Number of different regions in the house DataFrame:", num_regions)

Number of different regions in the house DataFrame: 12

In [20]:
# check how many houses are in each region
house_counts_per_region = df_house['Region'].value_counts()
print(house_counts_per_region)

The Reach          72
The North          61
The Westerlands    55
The Riverlands     52
The Crownlands     49
The Stormlands     38
Iron Islands       38
The Vale           35
Dorne              29
The Neck            7
Beyond the Wall     1
None                1
Name: Region, dtype: int64

In [21]:
df_char.head()

,Name,Culture,Born,Died,Titles,Aliases,Father,Mother,Spouse,Allegiances,...,TV Series,Played By,URL,Character_Number,Allegiances_Number,Allegiances_Number_1,Allegiances_Number_2,Allegiances_Number_3,Allegiances_Number_4,Most_Common_Allegiance
0,NaN,Braavosi,NaN,NaN,[''],['The Daughter of the Dusk'],NaN,NaN,NaN,[],...,[''],[''],https://www.anapioficeandfire.com/api/characte...,1,[],None,None,None,None,NaN
1,Walder,NaN,NaN,NaN,[''],['Hodor'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,...,"['Season 1', 'Season 2', 'Season 3', 'Season 4...",['Kristian Nairn'],https://www.anapioficeandfire.com/api/characte...,2,[362],House Stark of Winterfell,None,None,None,House Stark of Winterfell
2,NaN,NaN,NaN,NaN,[''],['Lamprey'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,...,[''],[''],https://www.anapioficeandfire.com/api/characte...,3,[15],House Baratheon of Dragonstone,None,None,None,House Baratheon of Dragonstone
3,NaN,Braavosi,NaN,NaN,[''],['The Merling Queen'],NaN,NaN,NaN,[],...,[''],[''],https://www.anapioficeandfire.com/api/characte...,4,[],None,None,None,None,NaN
4,NaN,NaN,NaN,NaN,[''],['Old Crackbones'],NaN,NaN,NaN,[],...,[''],[''],https://www.anapioficeandfire.com/api/characte...,5,[],None,None,None,None,NaN

In [22]:
df_char['First_Allegiance_Number'] = df_char['Allegiances_Number'].apply(lambda x: x[0] if x else None)

In [23]:
# check if it worked for one example with max allegiances
df_char[df_char['Name'] == person_with_max_allegiances][['Name', 'Allegiances_Number','Allegiances_Number_1', 'Allegiances_Number_2', 'Allegiances_Number_3', 'Allegiances_Number_4','First_Allegiance_Number']]

,Name,Allegiances_Number,Allegiances_Number_1,Allegiances_Number_2,Allegiances_Number_3,Allegiances_Number_4,First_Allegiance_Number
1357,Elaena Targaryen,"[257, 300, 303, 378]",House Manwoody of Kingsgrave,House Penrose of Parchments,House Plumm,House Targaryen of King's Landing,257

In [24]:
df_char.head()

,Name,Culture,Born,Died,Titles,Aliases,Father,Mother,Spouse,Allegiances,...,Played By,URL,Character_Number,Allegiances_Number,Allegiances_Number_1,Allegiances_Number_2,Allegiances_Number_3,Allegiances_Number_4,Most_Common_Allegiance,First_Allegiance_Number
0,NaN,Braavosi,NaN,NaN,[''],['The Daughter of the Dusk'],NaN,NaN,NaN,[],...,[''],https://www.anapioficeandfire.com/api/characte...,1,[],None,None,None,None,NaN,None
1,Walder,NaN,NaN,NaN,[''],['Hodor'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,...,['Kristian Nairn'],https://www.anapioficeandfire.com/api/characte...,2,[362],House Stark of Winterfell,None,None,None,House Stark of Winterfell,362
2,NaN,NaN,NaN,NaN,[''],['Lamprey'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,...,[''],https://www.anapioficeandfire.com/api/characte...,3,[15],House Baratheon of Dragonstone,None,None,None,House Baratheon of Dragonstone,15
3,NaN,Braavosi,NaN,NaN,[''],['The Merling Queen'],NaN,NaN,NaN,[],...,[''],https://www.anapioficeandfire.com/api/characte...,4,[],None,None,None,None,NaN,None
4,NaN,NaN,NaN,NaN,[''],['Old Crackbones'],NaN,NaN,NaN,[],...,[''],https://www.anapioficeandfire.com/api/characte...,5,[],None,None,None,None,NaN,None

In [25]:
merged_df = df_char.merge(df_house, left_on='First_Allegiance_Number', right_on='Allegiances_Number', how='left')

In [26]:
merged_df.columns

Index(['Name_x', 'Culture', 'Born', 'Died', 'Titles_x', 'Aliases', 'Father',
       'Mother', 'Spouse', 'Allegiances', 'Books', 'POV Books', 'TV Series',
       'Played By', 'URL_x', 'Character_Number', 'Allegiances_Number_x',
       'Allegiances_Number_1', 'Allegiances_Number_2', 'Allegiances_Number_3',
       'Allegiances_Number_4', 'Most_Common_Allegiance',
       'First_Allegiance_Number', 'Name_y', 'Region', 'Coat of Arms', 'Words',
       'Titles_y', 'Seats', 'Current Lord', 'Heir', 'Overlord', 'Founded',
       'Founder', 'Died Out', 'Ancestral Weapons', 'Cadet Branches',
       'Sworn Members', 'URL_y', 'Allegiances_Number_y'],
      dtype='object')

In [27]:
merged_df.rename(columns={'Name_x': 'Character_Name',
                          'Titles_x': 'Character_Titles',
                            'Name_y': 'House_Allegiance',
                            'Region': 'House_Region',
                            'Title_y': 'House_Titles'
                          }, inplace=True)

In [28]:
merged_df.drop(columns=['Allegiances_Number_x',
                        'Allegiances_Number_1',
                        'Allegiances_Number_2',
                        'Allegiances_Number_3',
                        'Allegiances_Number_4',
                        'URL_x',
                        'URL_y',
                        'Allegiances_Number_y'], inplace=True)

In [29]:
merged_df.columns

Index(['Character_Name', 'Culture', 'Born', 'Died', 'Character_Titles',
       'Aliases', 'Father', 'Mother', 'Spouse', 'Allegiances', 'Books',
       'POV Books', 'TV Series', 'Played By', 'Character_Number',
       'Most_Common_Allegiance', 'First_Allegiance_Number', 'House_Allegiance',
       'House_Region', 'Coat of Arms', 'Words', 'Titles_y', 'Seats',
       'Current Lord', 'Heir', 'Overlord', 'Founded', 'Founder', 'Died Out',
       'Ancestral Weapons', 'Cadet Branches', 'Sworn Members'],
      dtype='object')

In [30]:
# extract number from overloard
merged_df['Overloard_Number'] = merged_df['Overlord'].str.extract(r'(\d+)$')

In [31]:
df_house[['URL','Allegiances_Number']].head(2)

                                              URL Allegiances_Number
0  https://www.anapioficeandfire.com/api/houses/1                  1
1  https://www.anapioficeandfire.com/api/houses/2                  2

In [32]:
df_merged = merged_df.merge(df_house[['Allegiances_Number', 'Name']], left_on='Overloard_Number', right_on='Allegiances_Number', how='left')
df_merged.rename(columns={'Name': 'Overlord_Name'}, inplace=True)
df_merged.drop(columns=['Allegiances_Number'], inplace=True)

In [33]:
df_merged.columns

Index(['Character_Name', 'Culture', 'Born', 'Died', 'Character_Titles',
       'Aliases', 'Father', 'Mother', 'Spouse', 'Allegiances', 'Books',
       'POV Books', 'TV Series', 'Played By', 'Character_Number',
       'Most_Common_Allegiance', 'First_Allegiance_Number', 'House_Allegiance',
       'House_Region', 'Coat of Arms', 'Words', 'Titles_y', 'Seats',
       'Current Lord', 'Heir', 'Overlord', 'Founded', 'Founder', 'Died Out',
       'Ancestral Weapons', 'Cadet Branches', 'Sworn Members',
       'Overloard_Number', 'Overlord_Name'],
      dtype='object')

In [34]:
df_merged.head(2)

,Character_Name,Culture,Born,Died,Character_Titles,Aliases,Father,Mother,Spouse,Allegiances,...,Heir,Overlord,Founded,Founder,Died Out,Ancestral Weapons,Cadet Branches,Sworn Members,Overloard_Number,Overlord_Name
0,NaN,Braavosi,NaN,NaN,[''],['The Daughter of the Dusk'],NaN,NaN,NaN,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Walder,NaN,NaN,NaN,[''],['Hodor'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,...,NaN,https://www.anapioficeandfire.com/api/houses/16,Age of Heroes,https://www.anapioficeandfire.com/api/characte...,NaN,['Ice'],['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/charac...,16,House Baratheon of King's Landing

In [38]:
df_merged['Father'] = df_merged['Father'].apply(lambda x: 1 if pd.notnull(x) else 0)
df_merged['Mother'] = df_merged['Mother'].apply(lambda x: 1 if pd.notnull(x) else 0)
df_merged['Spouse'] = df_merged['Spouse'].apply(lambda x: 1 if pd.notnull(x) else 0)

In [41]:
df_merged['Spouse'].value_counts()

0    1773
1     361
Name: Spouse, dtype: int64

In [42]:
df_merged.to_csv('../raw_data/merged_dataframe.csv', index=False)