In [65]:
import pandas as pd
import re

df_char = pd.read_csv('../raw_data/scrapped_characters.csv')
df_house = pd.read_csv('../raw_data/scrapped_houses.csv')

In [66]:
df_char['Character_Number'] = df_char['URL'].str.extract(r'(\d+)$')

In [67]:
example = df_char[df_char['Name'] == 'Addam Velaryon']['Allegiances'].values
print(example)

["['https://www.anapioficeandfire.com/api/houses/378', 'https://www.anapioficeandfire.com/api/houses/407']"]

In [68]:
df_char['Allegiances_Number'] = df_char['Allegiances'].apply(lambda x: re.findall(r'\d+', x))

In [69]:
# checking for one example to see if it works
print(df_char[df_char['Name'] == 'Addam Velaryon']['Allegiances_Number'].values)

[list(['378', '407'])]

In [70]:
print(df_char.columns)
df_char.head(3)

Index(['Name', 'Culture', 'Born', 'Died', 'Titles', 'Aliases', 'Father',
       'Mother', 'Spouse', 'Allegiances', 'Books', 'POV Books', 'TV Series',
       'Played By', 'URL', 'Character_Number', 'Allegiances_Number'],
      dtype='object')

,Name,Culture,Born,Died,Titles,Aliases,Father,Mother,Spouse,Allegiances,Books,POV Books,TV Series,Played By,URL,Character_Number,Allegiances_Number
0,NaN,Braavosi,NaN,NaN,[''],['The Daughter of the Dusk'],NaN,NaN,NaN,[],['https://www.anapioficeandfire.com/api/books/5'],[],[''],[''],https://www.anapioficeandfire.com/api/characte...,1,[]
1,Walder,NaN,NaN,NaN,[''],['Hodor'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],"['Season 1', 'Season 2', 'Season 3', 'Season 4...",['Kristian Nairn'],https://www.anapioficeandfire.com/api/characte...,2,[362]
2,NaN,NaN,NaN,NaN,[''],['Lamprey'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/3'],[],[''],[''],https://www.anapioficeandfire.com/api/characte...,3,[15]

In [71]:
df_house['Allegiances_Number'] = df_char['URL'].str.extract(r'(\d+)$')
df_house.head()

,Name,Region,Coat of Arms,Words,Titles,Seats,Current Lord,Heir,Overlord,Founded,Founder,Died Out,Ancestral Weapons,Cadet Branches,Sworn Members,URL,Allegiances_Number
0,House Algood,The Westerlands,"A golden wreath, on a blue field with a gold b...",NaN,[''],[''],NaN,NaN,https://www.anapioficeandfire.com/api/houses/229,NaN,NaN,NaN,[''],[],[],https://www.anapioficeandfire.com/api/houses/1,1
1,House Allyrion of Godsgrace,Dorne,"Gyronny Gules and Sable, a hand couped Or",No Foe May Pass,[''],['Godsgrace'],https://www.anapioficeandfire.com/api/characte...,https://www.anapioficeandfire.com/api/characte...,https://www.anapioficeandfire.com/api/houses/285,NaN,NaN,NaN,[''],[],['https://www.anapioficeandfire.com/api/charac...,https://www.anapioficeandfire.com/api/houses/2,2
2,House Amber,The North,NaN,NaN,[''],[''],NaN,NaN,NaN,NaN,NaN,NaN,[''],[],[],https://www.anapioficeandfire.com/api/houses/3,3
3,House Ambrose,The Reach,"Or, semy of ants gules",Never Resting,[''],[''],https://www.anapioficeandfire.com/api/characte...,NaN,https://www.anapioficeandfire.com/api/houses/398,NaN,NaN,NaN,[''],[],['https://www.anapioficeandfire.com/api/charac...,https://www.anapioficeandfire.com/api/houses/4,4
4,House Appleton of Appleton,The Reach,"Or, an apple tree eradicated proper fructed gu...",NaN,[''],['Appleton'],NaN,NaN,https://www.anapioficeandfire.com/api/houses/398,NaN,NaN,NaN,[''],[],[],https://www.anapioficeandfire.com/api/houses/5,5

In [72]:
# checking the max of allegiances
max_allegiances = df_char['Allegiances_Number'].apply(len).max()
print("Maximum number of allegiance numbers a person can have:", max_allegiances)


person_with_max_allegiances = df_char.loc[df_char['Allegiances_Number'].apply(len).idxmax(), 'Name']
print("Person with the maximum number of allegiances:", person_with_max_allegiances)


# show the person with the maximum number of allegiances and their allegiances
df_char[df_char['Name'] == person_with_max_allegiances]['Allegiances_Number'].values

num_characters_with_multiple_allegiances = len(df_char[df_char['Allegiances_Number'].apply(len) > 1])
print("Number of characters with more than one allegiance:", num_characters_with_multiple_allegiances)

Maximum number of allegiance numbers a person can have: 4
Person with the maximum number of allegiances: Elaena Targaryen
Number of characters with more than one allegiance: 182

In [73]:
characters_with_multiple_allegiances = df_char[df_char['Allegiances_Number'].apply(len) > 1]
sorted_characters = characters_with_multiple_allegiances.sort_values(by='Allegiances_Number', ascending=False)
sorted_characters.head(5)

,Name,Culture,Born,Died,Titles,Aliases,Father,Mother,Spouse,Allegiances,Books,POV Books,TV Series,Played By,URL,Character_Number,Allegiances_Number
333,Dyanna Dayne,NaN,NaN,In or between 201 AC and 209 AC,['Lady'],[''],NaN,NaN,https://www.anapioficeandfire.com/api/characte...,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,334,"[99, 378]"
1113,Willem Darry,NaN,NaN,"In 289 AC or 290 AC (roughly), at Braavos",['Ser Master-at-arms at the Red Keep'],[''],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,1114,"[97, 378]"
711,Mariya Darry,NaN,NaN,NaN,[''],[''],NaN,NaN,https://www.anapioficeandfire.com/api/characte...,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,712,"[97, 143]"
948,Rylene Florent,NaN,NaN,NaN,[''],[''],NaN,NaN,https://www.anapioficeandfire.com/api/characte...,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,949,"[87, 133]"
737,Melara Crane,NaN,NaN,NaN,[''],[''],NaN,NaN,https://www.anapioficeandfire.com/api/characte...,['https://www.anapioficeandfire.com/api/houses...,['https://www.anapioficeandfire.com/api/books/...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,738,"[87, 133]"

In [74]:
# Get the maximum number of allegiances
max_allegiances = df_char['Allegiances_Number'].apply(len).max()

# Split the allegiances values into separate columns
for i in range(1, max_allegiances + 1):
    column_name = f"Allegiances_Number_{i}"
    df_char[column_name] = df_char['Allegiances_Number'].apply(lambda x: x[i-1] if len(x) >= i else None)

In [75]:
df_char.head(2)

,Name,Culture,Born,Died,Titles,Aliases,Father,Mother,Spouse,Allegiances,...,POV Books,TV Series,Played By,URL,Character_Number,Allegiances_Number,Allegiances_Number_1,Allegiances_Number_2,Allegiances_Number_3,Allegiances_Number_4
0,NaN,Braavosi,NaN,NaN,[''],['The Daughter of the Dusk'],NaN,NaN,NaN,[],...,[],[''],[''],https://www.anapioficeandfire.com/api/characte...,1,[],None,None,None,None
1,Walder,NaN,NaN,NaN,[''],['Hodor'],NaN,NaN,NaN,['https://www.anapioficeandfire.com/api/houses...,...,[],"['Season 1', 'Season 2', 'Season 3', 'Season 4...",['Kristian Nairn'],https://www.anapioficeandfire.com/api/characte...,2,[362],362,None,None,None

In [76]:
# look in df_house for names of houses using Allegiances_Number and add them to allegiances_number_1, allegiances_number_2, etc. in the df_char

# create a dictionary with the house names and their numbers
house_dict = dict(zip(df_house['Allegiances_Number'], df_house['Name']))
house_dict

# replace the numbers in the df_char with the house names
for i in range(1, max_allegiances + 1):
    column_name = f"Allegiances_Number_{i}"
    df_char[column_name] = df_char[column_name].replace(house_dict)

# check if it worked for one example with max allegiances
df_char[df_char['Name'] == person_with_max_allegiances][['Name', 'Allegiances_Number_1', 'Allegiances_Number_2', 'Allegiances_Number_3', 'Allegiances_Number_4']]

,Name,Allegiances_Number_1,Allegiances_Number_2,Allegiances_Number_3,Allegiances_Number_4
1357,Elaena Targaryen,House Manwoody of Kingsgrave,House Penrose of Parchments,House Plumm,House Targaryen of King's Landing

In [77]:
allegiances_columns = ['Allegiances_Number_1', 'Allegiances_Number_2', 'Allegiances_Number_3', 'Allegiances_Number_4']
house_counts = df_char[allegiances_columns].stack().value_counts()
print(house_counts)

House Frey of the Crossing             123
House Targaryen of King's Landing      101
House Stark of Winterfell               88
House Lannister of Casterly Rock        79
House Tyrell of Highgarden              44
                                      ...
House Roote of Lord Harroway's Town      1
House Shett of Gull Tower                1
House Grell                              1
House Mallery                            1
House Cole                               1
Length: 296, dtype: int64

In [78]:
# Get the total count of each allegiance number
allegiance_counts = df_char[allegiances_columns].apply(pd.Series.value_counts).sum()
allegiance_counts

Allegiances_Number_1    1374.0
Allegiances_Number_2     182.0
Allegiances_Number_3      10.0
Allegiances_Number_4       1.0
dtype: float64